@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  /* Fonts */
  --font-segoe-ui: 'Segoe UI', Arial, sans-serif;
  --font-monospace: monospace;

  /* Colors */
  --color-button-primary: #097bed;
  --color-button-primary-hover: #0265d2;
  --color-button-secondary: #f2f2f2;
  --color-button-secondary-hover: #e6e6e6;
  --color-body: #fafafa;
  --color-table-data: #f9fbff;
  --color-border: #cccccc;
  --color-method-get: #148941;
  --color-method-post: #b08010;
  --color-method-put: #0053b8;
  --color-method-patch: #623497;
  --color-method-delete: #8e1a10;
  --color-method-head: #279250;
  --color-method-options: #b0307a;
  --color-text: #333333;

  /* Animation */
  --animate-spin: spin 3s linear infinite;
}

@layer base {
  body {
    @apply m-0 font-segoe-ui bg-body text-text;
  }

  .node-ellipsis {
    @apply text-xs! text-black! -translate-y-0.5!;
  }

  .node-ellipsis + .brace-row {
    @apply block!;
  }

  .object-key {
    @apply text-[#a31515]!;
  }

  .object-key + span {
    @apply ml-0! text-black!;
  }

  .string-value {
    @apply text-[#0451a5]!;
  }

  .variable-row,
  .object-key-val,
  .variable-value {
    @apply pr-0!;
  }

  .variable-value > :first-child {
    @apply text-[#098658]! bg-transparent! text-[13px]! font-normal!;
  }

  .icon-container svg {
    @apply text-black/40!;
  }
}
